 body {
    background-image:url(Imagenes/Fondo.jpg);
    background-position:top right
 }
 
 .itemList {
    color:white
 }

 #banner {
    background-color: aliceblue;
    opacity: 0.6;
    outline-style: solid;
    outline-color: rgb(39, 36, 36);
    outline-width:medium;
  padding: 50px;
  margin: 30px;
 }