
 .menu {
   background-color: rgb(121, 69, 170);
 }
 .logo {
   background-color: rgb(202, 169, 233);
 }
 .ArgProg {
   background-color: rgb(40, 22, 56);
 }

 #APlink {
   align-items: center;
   border-color: blue;
 }